.form{
    padding:20px;
    width:50%;
}
.header{
    background-color: azure;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
}

.header1{
    background-color: azure;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
}
.container{
    border: 1px solid gray;
    
}
h3{
    background-color: dodgerblue;
    font-family: 'Courier New', Courier, monospace;
}